
.cabecalho{
    background-color: var(--cor-de-fundo-titulo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container_imagem{
    padding: 1em;
}