.cabecalho_menu{
  width: 35px;
  height: 35px;
  background-image: url(../img/Ícone.png);
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

.container_botao:checked~.lista-menu{
    display: block;
}

.cabecalho{
    background-color: var(--cor-de-fundo-titulo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container_imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

